{% extends 'base.html.twig' %}
{% block body_class %}cards_page{% endblock %}

{% block body %}

<div class="title">
    <h1>News Cards</h1><h1>Latest news</h1>
</div>
<div class="card_container">
{% for novice in novice %}
    <div class="card{% if novice.isFeatured() %} yes{% endif %}">
        <img src="{{ asset('uploads/images/' ~ novice.image) }}" alt="image" class="card_img">
        <div class="card_content">
            <p class="date" >{{ novice.createdAt|date('d-m-Y') }}</p>
            <h2>{{ novice.name }}</h2>
            <p>{{ novice.summary }}</p>
            <p>{{ novice.category }}</p> 
            <hr>
            <p><b>{{ novice.validFrom|date('d-m-Y') }} - {{ novice.validTill|date('d-m-Y') }}</b></p>
        </div>
        <div class="card_buttons">
            <a href="{{ path('novice_id', {'id': novice.id}) }}" class="btn_left">See more</a>
            <a href="{{ path('novice_edit', {'id': novice.id}) }}" class="btn_right">Edit</a>
        </div>
    </div>
{% endfor %}
    </div>
    <hr>
<div class="buttons">
   <button><a href="{{ path('novice_table') }}">Tables</a></button>
   <button><a href="{{ path('novice_index') }}">Add news</a></button>
   <button><a href="{{ path('novice_search') }}">Search news</a></button>
</div>
{% endblock %}