{% extends 'base.html.twig' %}
{% block body %}
<a href="{{ path('novice_index') }}">Form</a> |
<a href="{{ path('novice_delete_old') }}">Delete old data</a> |
<a href="{{ path('novice_delete_new') }}">Delete new data</a> |
<a href="{{ path('novice_search') }}">Search</a> |
<a href="{{ path('novice_table') }}">News in Table</a>

{% for novice in novice %}
    <h2>{{ novice.name }}</h2>
    <p><b>Category:</b> {{ novice.category }}</p> 
    <p><b>Content:</b> {{ novice.content}}</p>
    <p><b>Summary:</b> {{ novice.summary }}</p>
    <p><b>Created at:</b> {{ novice.createdAt|date('d.m.Y') }}</p>
    <p><b>Featured</b> {{ novice.featured ? 'Yes' : 'No' }}</p>
    <hr>
{% endfor %}

{% endblock %}