{% extends 'base.html.twig' %}
{% block body_class %}moreinfo_page{% endblock %}

{% block body %}
<div class="moreinfo">
    <div class="moreinfo1">
        <h1>{{novice.name}}</h1>
    </div>
    <div class="moreinfo2">
        <h2>{{novice.summary}}</h2>
        <p>{{novice.content}}</p>
        <img src="{{ asset('uploads/images/' ~ novice.image) }}" alt="image">
        <p><b>{{ novice.createdAt|date('d-m-Y') }}</b></p>
        <button><a href="{{ path('novice_cards') }}">Go back</a></button>
    </div>
</div>


{% endblock %}