{% extends 'base.html.twig' %}
{% block body_class %}search_page{% endblock %}
{% block body %}

<h1>Find anything you need!</h1>
{{ form(form) }}
{% if searchQuery %}
    {% if tasks is empty %}
    <div class="search_error">
        <p>No such news</p>
        <p><b>Help words:</b> Policy, Sport, Culture, Metallica, Mongolia, Putin</p>
    </div>
    {% else %}
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Featured</th>
            <th>Category</th>
            <th>Valid From</th>
            <th>Valid Till</th>
        </tr>
        <tr>
        {% for task in tasks %}
            <td><a href="{{ path('novice_id', {'id': task.id}) }}">{{ task.name }}</a></td>    
            <td><a href="{{ path('novice_id', {'id': task.id}) }}">{{ task.featured ? 'Yes' : 'No' }}</a></td>   
            <td><a href="{{ path('novice_id', {'id': task.id}) }}">{{ task.category }}</a></td>   
            <td><a href="{{ path('novice_id', {'id': task.id}) }}">{{ task.validFrom|date('d.m.Y') }}</a></td>   
            <td><a href="{{ path('novice_id', {'id': task.id}) }}">{{ task.validTill|date('d.m.Y') }}</a></td> 
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endif %}
<div class="hr_search">
    <hr>
</div>
<div class="buttons">
   <button><a href="{{ path('novice_table') }}">Tables</a></button>
   <button><a href="{{ path('novice_index') }}">Add news</a></button>
   <button><a href="{{ path('novice_cards') }}">Cards</a></button>
</div>

{% endblock %}